{# templates/security/access_denied.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <h1>Access Denied</h1>
        <p>You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>
    </div>
{% endblock %}
